<section id="about" class="section">
  <div id="about-container" class="centered section-container">
    <h1 class="section-header">About Us</h1>
    <article class="section-article" style="margin-bottom: 2rem;">
      <p style="margin-top: 1rem;">We’re a run crew based in Bow, East London. No ego, no pressure—just a group of people who love to run, explore, and have fun. Whether you’re chasing a PB or just out for the vibes, we’ve got space for you.</p>
      <p style="margin-top: 1rem;">Our philosophy is simple: running is for everyone. We believe in fostering a supportive community where every pace, every goal, and every runner matters. It’s not just about the miles—it’s about the connections, the laughs, and the shared love of movement.</p>
      <p style="margin-top: 1rem;">Lace up, show up, and let’s move!</p>
    </article>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8673.073516821143!2d-0.03813838269637338!3d51.530302095578264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1734040814045!5m2!1sen!2suk"
    style="width: 100%"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  </div>

  <div id="socials-container" class="section-container">
    <!-- Keep the social icons dynamic -->
    {{- range site.Params.socialIcons -}}
      <a
        href="{{ trim .url " " | safeURL }}"
        target="_blank"
        rel="noopener noreferrer me"
        title="{{ .display | default (title .name) }}"
        class="interactable"
      >
        {{ partial "svg.html" . }}
      </a>
    {{- end -}}
  </div>
</section>