<section id="people" class="section">
  <div id="people-container" class="centered section-container">
    <h1 class="section-header">People</h1>
    <div id="people-display">
      {{- range site.Params.itemDisplays -}}
        <div class="person-card interactable">
          <img src="{{ .image | relURL }}" alt="{{ .name }}" class="person-image" />
          <h2 class="person-name">{{ .name }}</h2>
          <p class="person-description">{{ truncate (site.Params.truncationLimit | default 150) .description }}</p>
        </div>
      {{- end -}}
    </div>
  </div>
</section>